{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint-config-blvd/react",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "import/no-cycle": "off",
    "react/no-array-index-key": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "no-nested-ternary": "off",
    "import/extensions": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-restricted-syntax": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/jsx-props-no-spreading": "off",
    "no-plusplus": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "max-len": [
      "error",
      {
        "code": 140,
        "ignoreUrls": true
      }
    ],
    "import/prefer-default-export": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "react/no-unescaped-entities": [
      "error",
      {
        "forbid": [
          {
            "char": ">",
            "alternatives": [
              "&gt;"
            ]
          },
          {
            "char": "}",
            "alternatives": [
              "&#125;"
            ]
          }
        ]
      }
    ]
  }
}
